.animal-form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-field {
    margin-bottom: 20px;
  }
  
  .form-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .form-field input,
  .form-field select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-field input:focus,
  .form-field select:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .error {
    color: red;
    font-size: 0.9em;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  .back-btn {
    background-color: #f44336; /* Красный цвет */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
  }
  
  .back-btn:hover {
    background-color: #e53935;
  }
  